.container-c {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 2fr auto;
}

a {
    color: #505050;
}

.category-arrow>div {
    color: #989a9b;
}

.active a,
.active {
    color: #20B2AA !important;
}

#head-bg-color {
    background-color: #505050;
}

#main-c {
    padding: 5% 15% 9% 15%;
}

.title-c {
    display: grid;
    grid-template-columns: repeat(4, auto);
    border-bottom: 1px solid hsl(212, 9%, 67.3%);
}

.select-category {
    margin: 2% 0;
}

.select-category>strong {
    color: #818283;
}

.category-list {
    display: grid;
    grid-template-columns: 25% auto;
}

.item {
    color: #989a9b;
    margin-bottom: 6%;
}

.category-arrow>div {
    margin-bottom: 0.5%;
}

.item:last-child {
    margin-bottom: 0;
}

.category-hr {
    border: 0.1px solid #989a9b;
    width: 25%;
    margin-top: 1%
}

.category {
    border-bottom: 3px solid #20B2AA;
}

#footer {
    min-height: 100%;
    background: hsl(214, 11%, 51%);
}