:root {
    --black-clr: #000000;
    --dark-opacity: #000000b7;
    --light-opacity: #00000054;
    --light-gray-clr: #4f4f4f;
    --text-clr: #4a5259;
    --dark-gray-clr: #748090;
    --property-txt-clr: #98999a;
    --header-txt-clr: #bdc1c7;
    --bg-color: #d6dbe1;
    --property-bg: #f5f5f5;
    --white-clr: #ffffff;
    --light-teal: #20b2aa;
    --green-clr: #1fb2aa;
    --blue-clr: #4068df;
    --footer-bg-clr: hsl(214, 11%, 51%);
    --category-title-clr: hsl(212, 9%, 67.3%);
    --right-teal-opacity: hsla(177, 70%, 41%, 0.502);
    --container-opacity: rgba(0, 0, 0, 0.603);
    --body-opacity-right: rgba(0, 0, 0, 0.418);
    --body-opacity-left: rgba(0, 0, 0, 0.733);
    --menu-border: rgb(134, 133, 133);
}