:root {
    --white-clr: #ffffff;
    --black-clr: #000000;
    --blue-clr: #4068df;
    --bg-color: #d6dbe1;
    --light-gray-clr: #4f4f4f;
    --dark-gray-clr: #748090;
    --green-clr: #1fb2aa;
    --text-clr: #4a5259;
    --header-txt-clr: #bdc1c7;
    --header-bg-clr: #4f4f4f;
    --property-txt-clr: #98999a;
    --property-bg: #f5f5f5;
    --light-opacity: #00000054;
    --dark-opacity: rgba(0, 0, 0, 0.719);
}

$grid: grid;

/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"); */

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

.container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.418)), url("/images/building4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/* Header */

a {
    text-decoration: none;
    color: var(--white-clr);
}

.header a {
    color: var(--header-txt-clr);
}

.logo a {
    color: var(--white-clr);
}

.property-btn button a {
    color: var(--white-clr);
}

.active {
    color: var(--green-clr);
    /* font-weight: bold; */
}

.pointer {
    cursor: pointer;
}

.active-board-txt {
    color: var(--white-clr);
    font-weight: bold;
}

.header {
    display: $grid;
    grid-template-columns: 13% 75%;
    justify-content: space-around;
    background-color: var(--light-opacity);
    padding: 25px 20px;
    color: var(--property-txt-clr);
}

.logo {
    padding: 25px;
    font-weight: 500;
    font-size: 25px;
    background-color: var(--black-clr);
    place-self: start center;
    word-spacing: 0.01px;
}

.top-nav {
    overflow: hidden;
    display: $grid;
    grid-template-columns: 50% auto;
}

#👉>svg {
    font-size: 0.5em;
    display: $grid;
    margin: 25%;
    align-items: start;
}

.top_nav_left {
    display: $grid;
    grid-template-columns: 20% auto;
    justify-items: start;
    align-items: center;
}

.divider {
    color: var(--dark-gray-clr);
    height: 1px;
}

.account-info {
    display: $grid;
    grid-template-columns: 1fr auto auto;
    justify-self: end;
}

.navbar-right {
    padding: 8px 0px 0px 10px;
}

.navbar-right:first-child {
    padding: 8px;
}

.nav-hr {
    color: var(--white-clr);
    padding: 10px auto;
}

.bottom-nav {
    display: $grid;
    grid-template-columns: 20% 80%;
}

.bottom-nav .property-btn {
    justify-self: end;
    padding: 5px 10px;
    background-color: var(--blue-clr);
    border-radius: 5px;
}

.bottom-nav button {
    color: var(--white-clr);
    background-color: transparent;
    border: none;
}

#top_nav_left,
#ourProperty,
.bottom-left-nav,
.active-board-txt {
    font-size: 14px;
}


/* Home page main */

.row-3 {
    display: grid;
    grid-template-rows: auto 2fr auto;
    min-height: 100vh;
    margin: 0;
}

.main {
    display: $grid;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    color: var(--white-clr);
}

.main div:first-child {
    font-size: 2rem;
    font-weight: 700;
    word-spacing: 0rem;
    letter-spacing: 0em;
    line-height: 58px;
}

.main div input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.603);
    border: none;
    padding: 10px 10px 10px 25px;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 2%;
}

.main div input::placeholder {
    color: var(--white-clr);
    opacity: 1;
}

.mobile-txt {
    display: none;
}

.filter {
    justify-self: end;
}

input:focus {
    border: 1px solid var(--green-clr);
}


/*  HOME LOGGED IN STYLE*/

.navbar-right-logged {
    color: var(--white-clr);
}

.bottom-content {
    display: $grid;
    margin-top: 5%;
    /* padding-bottom: 5%; */
    display: $grid;
    justify-content: center;
    align-items: center;
    color: var(--white-clr);
}

.bottom-content div:first-child {
    line-height: 40px;
}

.bottom-content div:last-child {
    justify-self: center;
}


/* HOME WIDGET */

.main-widget {
    background-color: rgba(0, 0, 0, 0.603);
    color: var(--white-clr);
    display: $grid;
    margin: 3% 25%;
    padding: 20px;
}

.filter-line {
    display: $grid;
    grid-template-columns: 50% auto;
    justify-items: end;
}

.filter-nav {
    display: $grid;
    grid-template-columns: 1fr auto auto;
}

.filter-cup {
    justify-self: start;
}

.filter-nav div {
    padding: 10px;
}

.main-widget div input:first-child {
    width: 97.1%;
    background-color: rgba(0, 0, 0, 0.603);
    border: none;
    padding: 10px;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 2%;
}

.main-widget div input::placeholder {
    color: var(--property-txt-clr);
    opacity: 1;
}

.select-detail {
    display: $grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
}

.l-detail-select {
    display: $grid;
}

.l-detail-select select,
.r-detail-select div select {
    width: 100%;
    padding: 8px;
    margin-bottom: 3%;
    background-color: var(--dark-gray-clr);
    border: none;
    color: var(--white-clr);
}

.l-detail-select select {
    margin-bottom: 10%;
}

.r-detail-select {
    display: $grid;
}

.r-detail-select div button,
.content button {
    padding: 8px 60px;
    color: var(--white-clr);
    border: none;
    border-radius: 5px;
}

.r-detail-select div button {
    float: right;
    background-color: var(--blue-clr);
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: linear-gradient(20deg, var(--green-clr) 60%, hsla(177, 70%, 41%, 0.502) 60%);
}

input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb {
    border-radius: 50px;
    border: double 1px var(--green-clr);
}


/* Forms */


/*LOGIN PAGE */

.login-container,
.register-container {
    display: grid;
    grid-template-rows: auto auto auto;
    min-height: 100vh;
    margin: 0;
}

.bottom-l {
    display: $grid;
    grid-template-columns: auto auto;
}

.grt_than {
    font-size: 0.8rem;
}

.main-login {
    display: $grid;
    grid-template-columns: 54% auto;
    padding: 70px 50px;
}

.main-login,
.main-registration-content {
    display: $grid;
    margin: 5% 17%;
    color: var(--white-clr);
    border: 1px solid var(--white-clr);
    background-color: var(--dark-opacity);
}

.login-form {
    display: $grid;
    margin: -30% 20% 0% 53%;
    padding: 20px 30px;
    height: 350px;
    background-color: var(--white-clr);
}

.content button {
    background-color: transparent;
    border: solid 2px var(--white-clr);
}

#login-select {
    width: 24%;
    margin-right: -2%;
}

.heading {
    color: var(--dark-gray-clr)
}

.log-input {
    display: $grid;
}

.log-input div {
    margin-bottom: 5%;
}

.input1 input,
.input2 input,
.input3 input {
    padding: 8px 0 8px 40px;
    border: none;
    background-color: var(--bg-color);
    width: 85%;
}

#phoneAlt {
    position: absolute;
    float: left;
    margin-left: -15%;
    margin-top: 0.5%;
}

.input2 input {
    width: 60%;
    margin-left: 0;
}

.input2 select {
    width: 25%;
    padding: 8px 6px;
    background-color: var(--dark-gray-clr);
    border: none;
    color: var(--white-clr);
}

#placeholder-p input::placeholder {
    padding-left: 130px;
}

.input1 select {
    background-color: var(--dark-gray-clr);
    color: var(--white-clr);
    padding: 8px 5px;
    border-radius: 0;
    border: none;
}

.forget-password {
    justify-self: end;
    color: var(--green-clr);
}

.btn,
.btn button {
    display: grid;
    place-items: center;
    justify-self: end;
    padding: 4px 22px;
    color: var(--white-clr);
    border: none;
    border-radius: 5px;
    background-color: var(--dark-gray-clr);
}

.log-option {
    color: var(--dark-gray-clr);
}


/* REGISTRATION FORM */

.main-registration-content {
    grid-template-columns: auto 54%;
    padding: 50px 50px 70px 50px;
}

.registration-form {
    display: $grid;
    margin: -29% 53% 0%20%;
    padding: 13px 40px;
    height: 350px;
    background-color: var(--white-clr);
}

.rg-content {
    padding-left: 20px;
}

.agree-term {
    font-size: 0.8rem;
    text-align: end;
    color: var(--dark-gray-clr);
}

.agree-term input:checked {
    background-color: var(--green-clr);
}

#phoneAlt,
#lock1 {
    position: absolute;
    float: left;
    margin-left: -15%;
    margin-top: 0.5%;
    color: var(--dark-gray-clr)
}

#lock1 {
    margin-left: -21%;
}

#phone-icon {
    color: var(--dark-gray-clr);
    margin-left: -13rem;
    margin-top: 0.8%;
}

#password,
#user-icon {
    color: var(--dark-gray-clr);
    margin-left: -17rem;
    margin-top: 2%;
}


/* Property Grid*/

#property-grd {
    display: $grid;
    background: var(--property-bg);
}

.grid-container {
    display: $grid;
    grid-template-columns: 1fr 4fr;
    gap: 2%;
    margin: 2% 4.5% 6% 4.5%
}

.sidebar {
    background-color: var(--bg-color);
    padding: 5%;
    height: max-content;
}

.sidebar-label div {
    margin-bottom: 4%;
}

.sidebar-label div input {
    width: 86%;
    padding: 2%;
    border: none;
}

.sidebar-label div select {
    background-color: var(--dark-gray-clr);
    margin-left: -3%;
    color: var(--white-clr);
    padding: 2% 3%;
    width: 12%;
    border: none;
}

.sidebar-label div div {
    color: var(--text-clr);
}

.grd-price {
    color: var(--light-gray-clr);
}

.grd-range input[type=range] {
    width: 94%;
}

.input-rng::-webkit-slider-thumb,
.input-rng::-moz-range-thumb {
    border: double 2px var(--green-clr);
    background-color: var(--dark-gray-clr);
}

.side-btn {
    background-color: var(--dark-gray-clr);
    color: var(--white-clr);
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px;
    width: 95%;
}

.search input {
    width: 100% !important;
    background-color: var(--header-bg-clr);
}

.search input::placeholder {
    font-size: x-small;
    font-weight: 600;
    color: var(--white-clr);
    padding: 2px;
    opacity: 1;
}

.main-content {
    display: $grid;
}

.content-nav {
    background-color: var(--bg-color);
    color: var(--light-gray-clr);
    display: $grid;
    grid-template-columns: 40% auto;
    padding: 2%;
    align-self: center;
    place-items: center normal;
}

.nav-txt {
    display: $grid;
    grid-template-columns: 20% 30% 20%;
}

.nav-icon {
    display: $grid;
    grid-template-columns: 30% auto;
    place-items: center normal;
}

.grd-ls {
    display: $grid;
    grid-template-columns: 25% 25% 0%;
    place-items: center normal;
    place-content: center;
    /* font-size: 20px; */
}

.search-filter {
    display: $grid;
    grid-template-columns: 20% auto;
    place-content: center;
}

.srt input {
    width: 86%;
    padding: 2%;
    border: none;
}

.srt select {
    background-color: var(--dark-gray-clr);
    margin-left: -3%;
    color: var(--white-clr);
    padding: 2% 3%;
    width: 12%;
    border: none;
}

.content-grids {
    display: $grid;
    grid-template-columns: 78% 20%;
    grid-template-rows: repeat(3, auto);
    margin-top: 2%;
    gap: 2%;
}

.content-grid {
    display: $grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
}

.img img {
    width: 100%;
}

.carts,
.carts-list {
    background-color: var(--white-clr);
}

.cart-txt {
    display: $grid;
    padding-left: 10px;
}

.price {
    background-color: var(--green-clr);
    position: absolute;
    width: max-content;
    justify-self: end;
    color: var(--white-clr);
    margin-top: -33px;
    padding: 5px;
}

.icons-layout {
    display: $grid;
    grid-template-columns: repeat(4, auto);
    text-align: center;
}

.icons-layout .icon span,
.location-icon {
    color: var(--green-clr) !important;
    cursor: pointer;
}

.star-icon {
    float: right;
    color: var(--dark-gray-clr);
    margin-right: 2%;
}

a span {
    color: var(--light-gray-clr);
    font-size: 1.8em !important;
}

#list-icon {
    font-size: 2em !important;
}

.icons-layout .icon,
.carts,
.carts-list {
    border: solid 1px var(--property-bg)
}

.icons-layout .icon {
    padding: 3px;
}

.cart-small-text {
    font-size: 12px;
    margin-bottom: 5px;
    color: var(--dark-gray-clr);
}

.bed-room {
    font-size: 15px;
}


/* Property List*/

.content-list {
    display: $grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.carts-list {
    display: $grid;
    grid-template-columns: 40% auto;
    background-color: var(--white-clr);
    margin-bottom: 3%;
}

.top-carts-list {
    display: $grid;
    grid-template-columns: 50% auto;
}

.img-ls img {
    width: 80%;
}

.ls-r {
    display: $grid;
    align-items: end;
    margin-right: 10%;
}

.icon-grid {
    display: $grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.icon-grid .icon-num {
    margin-top: 17%;
    color: var(--green-clr);
}

.price-ls {
    background-color: var(--green-clr);
    width: max-content;
    justify-self: end;
    color: var(--white-clr);
    padding: 5px;
}

.advertisement {
    display: $grid;
    background-color: var(--white-clr);
    text-align: center;
    align-self: start;
    align-items: center;
    height: 80%;
}

.learn-more,
.grid-learn-more {
    background-color: var(--dark-gray-clr);
    justify-self: center;
    cursor: pointer;
    text-align: center;
    color: var(--white-clr);
    border-radius: 3px;
    margin-bottom: 3%;
    padding: 10px;
    width: 190px;
}

.footer {
    color: var(--white-clr);
    background-color: var(--dark-gray-clr);
}

.top-ftr {
    display: $grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    margin: auto 5%;
}

.footer2I {
    display: $grid;
    grid-template-columns: repeat(2, auto);
}

.footer-2 div {
    margin-bottom: 4%;
}

.footer hr {
    color: var(--white-clr);
}

.footer-b {
    display: $grid;
    grid-template-columns: repeat(2, auto);
    margin-left: 11%;
    margin-right: 11%;
}

.footer-2 {
    font-size: 15px;
    font-weight: 400;
}

.distance-p {
    font-size: 14px;
    font-weight: 300;
}

.silkroad-end {
    justify-self: end;
}

.fa-bars {
    display: none;
    background-color: var(--black-clr);
    cursor: pointer;
    border: 2px solid var(--green-clr);
    padding: 0.15em;
}

.fa-bars:hover {
    cursor: pointer;
}

.response {
    display: $grid;
}

.block {
    display: block;
}

.bottom-left-nav {
    display: $grid;
    grid-template-columns: 35% 15% auto;
}


/* Single Property */

.single-property-layout {
    display: $grid;
    grid-template-columns: none;
}

.single-property-img img {
    width: 100%;
    margin-bottom: 5%;
}

.amenity-description {
    display: $grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 2.5%;
    margin-bottom: 5%;
}

.available-amenities {
    margin-left: 5%;
}

.descriptions li,
.property-description {
    list-style: square;
    color: var(--text-clr);
}

.btn-primary button {
    margin: 5% 5% 0 5%;
    border: none;
    border-radius: 3px;
    padding: 10px;
    background-color: var(--dark-gray-clr);
    color: var(--white-clr);
}

.icon {
    border: 1px solid var(--dark-gray-clr);
}

#closeToggle {
    display: none;
}

.post-a-property-nav-layout {
    display: $grid;
    grid-template-columns: 50% 20% auto;
}

.mobile-footer,
.mobile-header {
    display: none;
}


/* `xs` returns only a rule set and no media query */


/* ... { ... } */


/* `xxl` applies to x-large devices (large desktops, less than 1400px) */

@media (max-width: 1399.98px) {
    .grid-container {
        margin: 2%;
    }
    .input2 select {
        width: 24%;
    }
    .main-registration-content {
        margin-top: 6.3%;
    }
}


/* `xl` applies to large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {}


/* `lg` applies to medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    .container {
        // height: 100%;
    }
    .logo {
        margin-left: 0;
    }
    .header {
        display: $grid;
        grid-template-columns: 20% 70%;
    }
    /* Login */
    .main-login {
        display: block;
        margin: 5% 20%;
        padding: 20px 80px;
    }
    .login-form {
        display: $grid;
        margin: 0% 20% 5% 20%;
        padding: 20px 30px;
    }
    #login-select {
        width: 15%;
        margin-right: -1%;
    }
    .input1 input,
    .input2 input,
    .input3 input {
        width: 90%;
    }
    .input2 input {
        width: 74.43%;
        margin-left: 0;
    }
    #phoneAlt {
        margin-left: -35%;
        margin-top: 0.8%;
    }
    #lock1 {
        margin-left: -50%;
        margin-top: 0.8%;
    }
    .log-input div {
        margin-bottom: 5%;
    }
    .heading h2 {
        text-align: center;
    }
    /* Register */
    .main-registration-content {
        display: block;
        margin: 5% 20%;
        padding: 20px;
    }
    .registration-form {
        display: $grid;
        margin: 5% 20%;
        padding: 20px 30px;
    }
    .input2 select {
        width: 12%;
    }
    #phone-icon {
        color: var(--dark-gray-clr);
        margin-left: -84%;
        margin-top: 0.8%;
    }
    #password,
    #user-icon {
        color: var(--dark-gray-clr);
        margin-left: -95%;
        margin-top: 2%;
    }
    #input2 {
        width: 78%;
    }
    .sidebar,
    .advertisement {
        display: none;
    }
    .grid-container,
    .content-grids {
        grid-template-columns: none;
    }
    .learn-more {
        margin: 3%;
    }
}


/* `md` applies to small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    .header {
        display: $grid;
        grid-template-columns: 20% 70%;
    }
    .sidebar,
    .advertisement {
        display: none;
    }
    .grid-container,
    .content-grids {
        grid-template-columns: none;
    }
    .bottom-left-nav {
        grid-template-columns: 55% 25% auto;
    }
    .content-nav {
        font-size: 13px;
    }
    .content-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5% 2%;
    }
    #input2 {
        width: 73.53%;
    }
    .input2 select {
        width: 15%;
    }
    #main-c {
        padding: 3%;
        margin: auto 0%;
    }
    .form-title,
    .physical-address,
    .description {
        grid-template-columns: 100%;
    }
    .input-fields-property-detail {
        grid-template-columns: repeat(2, 50%);
    }
    .r-property-input .price-input input {
        width: 57%;
    }
    .images-col-5 {
        width: 94%;
    }
    .amenities-cl-4 {
        grid-template-columns: repeat(4, 25%);
    }
    .btn-continue button {
        margin: 3%;
    }
}


/* `sm` applies to x-small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    #👉 {
        display: none;
    }
    .container {
        // height: 100vh;
    }
    #closeToggle {
        display: none;
        float: right;
        font-size: 30px;
        padding: 0 10px;
    }
    .toggle-menu-border {
        border-bottom: 0.5px solid rgb(134, 133, 133);
        padding: 1rem;
    }
    #top_nav_left {
        padding: 1rem;
    }
    .navbar-right {
        padding: 1rem !important;
    }
    .bottom-left-nav {
        display: none;
    }
    .toggle-menu-border:hover {
        background-color: var(--black-clr);
        color: var(--white-clr);
    }
    #head,
    .header {
        display: $grid;
        grid-template-columns: 10% 70%;
        align-items: center;
        padding: 1rem 0;
        transition: width 1s;
    }
    .hide {
        display: none;
    }
    .nav {
        display: none;
        font-size: 14px;
        font-weight: 400;
        width: 100%;
    }
    .logo {
        justify-self: center;
        align-self: center;
        padding: 1rem;
        width: fit-content;
        font-weight: 900;
        font-size: 13px;
        letter-spacing: 0.01px;
        word-spacing: 0.01px;
        margin-left: 2.8rem;
    }
    .fa-bars {
        display: block !important;
        font-size: 1.7em;
        float: right;
        color: var(--green-clr);
    }
    .sidebar {
        margin: 2%;
    }
    .bottom-l {
        grid-template-columns: auto auto auto;
        gap: 35%;
    }
    .top_nav_left {
        grid-template-columns: 35% auto;
    }
    /* Main  Page*/
    .main {
        margin: 10% 5%;
    }
    .main div:first-child {
        font-size: 1rem;
    }
    .main-widget {
        margin: 10% 5%;
    }
    /* Login */
    .main-login {
        display: block;
        margin: 5%;
        padding: 30px;
    }
    .main-registration-content,
    .login-container {
        display: none;
    }
    .login-form {
        display: $grid;
        margin: 0% 5% 5% 5%;
        padding: 10px 30px 30px 30px;
    }
    .log-input div {
        margin-bottom: 10%;
    }
    .input1 input,
    .input2 input,
    .input3 input {
        width: 86.6%;
    }
    .input2 input {
        /* width: 68%; */
        margin-left: 0;
    }
    #input2 {
        width: 64.56%;
    }
    #login-select {
        width: 19%;
        margin-right: -1.5%;
    }
    #phoneAlt {
        color: var(--dark-gray-clr);
        margin-left: -60%;
        margin-top: 2%;
    }
    #lock1 {
        margin-left: -71%;
        margin-top: 2%;
    }
    /* Registration */
    .registration-form {
        background-color: var(--white-clr);
        display: $grid;
        margin: 0% 5% 5% 5%;
        padding: 20px;
    }
    .input1 select {
        padding: 8px 3px;
    }
    /* Grid Layout */
    .grid-container {
        display: block;
        margin: 2%;
    }
    .content-nav {
        display: none;
    }
    .content-grids {
        display: block;
        margin: 2%;
    }
    .content-grid {
        display: block;
    }
    #password,
    #user-icon {
        color: var(--dark-gray-clr);
        margin-top: 2%;
    }
    #phone-icon {
        margin-left: -76%;
    }
    .input2 select {
        width: 21%;
        /* 17 */
    }
    /* List Layout */
    .carts-list,
    .carts {
        display: block;
        margin-bottom: 3%;
    }
    .top-carts-list {
        display: block;
    }
    .img-ls img {
        width: 100%;
    }
    .ls-r {
        display: $grid;
        align-items: end;
        margin-right: 0;
    }
    .advertisement {
        display: none;
    }
    .bottom-content {
        padding-bottom: 0;
    }
    /* Single property */
    .amenity-description {
        display: $grid;
        grid-template-columns: 100%;
    }
    .descriptions {
        margin-bottom: 3%;
    }
    .footer {
        display: none;
    }
    .mobile-header {
        display: $grid;
        padding: 10px;
        color: var(--white-clr);
    }
    .mobile-header {
        .top-mobile-nav {
            display: flex;
            justify-content: space-between;
        }
        .top-mobile-nav {
            .submit-ad-btn {
                color: var(--white-clr);
                background-color: var(--blue-clr);
                padding: 10px 20px;
            }
        }
        .bottom-mobile-nav {
            display: $grid;
            grid-template-columns: 20% 30% auto;
            font-size: 14px;
            color: var(--dark-gray-clr);
        }
        .bottom-mobile-nav {
            #right {
                align-self: center;
                font-size: .7em;
                padding: 20px 9px;
                color: var(--white-clr);
            }
            #left-less {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    .mobile-footer {
        display: $grid;
        grid-template-columns: repeat(3, auto);
        place-content: center;
    }
    .mobile-footer {
        .content {
            border-right: 2px solid var(--white-clr);
            padding: .5rem;
            color: var(--white-clr);
        }
        .content:last-child {
            border-right: none;
        }
    }
}