.container-c {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 2fr auto;
}

a {
    color: #505050;
}

.circle-arrow>div {
    color: var(--property-txt-clr);
}

.active a,
.active {
    color: #20B2AA !important;
}

#head-bg-color {
    background-color: #505050;
}

#main-c {
    padding: 5% 15% 9% 15%;
    margin: auto 5%;
}

.main-bg-clr {
    background-color: #f5f5f5;
}

.title-c {
    display: grid;
    grid-template-columns: repeat(4, auto);
    border-bottom: 1px solid hsl(212, 9%, 67.3%);
}


/* Category */

.select-category {
    margin: 6% auto auto;
}

.select-category>strong {
    color: var(--dark-gray-clr) !important;
}

.list-2-col-category {
    display: grid;
    grid-template-columns: 30% 5%;
}

.list-2-col {
    display: grid;
    grid-template-columns: 70% 5%;
}

.item {
    color: var(--property-txt-clr);
    margin-bottom: 6%;
}

.circle-arrow>div {
    margin-bottom: 10%;
}

.item:last-child {
    margin-bottom: 0;
}

.category-hr {
    border: 0.1px solid var(--dark-gray-clr);
    width: 35%;
    margin: 1% 0;
}


/* Location */

.location-list {
    display: grid;
    grid-template-columns: 50% auto;
}

.district-hr {
    border: 0.1px solid var(--dark-gray-clr);
    width: 75%;
    margin: 2.5% 0;
}

.popular-areas {
    margin-bottom: 3%;
}

.other-areas {
    margin-top: 3%;
    color: var(--property-txt-clr);
    ;
}

.other-areas select {
    background-color: var(--dark-gray-clr);
    margin-left: -3%;
    color: var(--white-clr);
    padding: 1%;
    border: none;
}

.other-areas input {
    /* width: 86%; */
    background: #d7dce2;
    padding: 1%;
    border: none;
}

.counties-m,
.popular-areas {
    margin-top: 4%;
    color: var(--dark-gray-clr);
    font-weight: bold;
}


/* Property Details */

.property-hr {
    width: 50%;
    margin: 1% 0 2%;
}

.form-title,
.physical-address,
.description {
    display: grid;
    grid-template-columns: 80%;
    margin-bottom: 2%;
}

.input-fields-property-detail {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    gap: 3%
}

.input-item input,
.form-title input,
.physical-address input,
.description textarea {
    background: #d7dce2;
    padding: 1.5% 3%;
    border: none;
}

.input-item input {
    padding: 3% 1% 3% 6%;
    margin-bottom: 5%;
}

.r-property-input {
    display: grid;
}

.l-property-input div input,
.r-property-input div input {
    width: 73%;
}

.r-property-input .price-input input {
    width: 59%;
}

.l-property-input .size-input input {
    width: 65.5%;
}

.input-item {
    padding: 0;
}

.input-item select {
    background-color: #8a97a5;
    /* margin-left: -1%; */
    color: var(--white-clr);
    padding: 3% 3.5%;
    border: none;
}


/* Upload images */

.images-col-5 {
    display: grid;
    grid-template-columns: repeat(5, 18%);
    gap: 2.5%;
    padding: 1.5% 3%;
    background: #d7dce2;
    width: 74%;
    margin: 3% 0;
}


/* Amenities */

.amenities {
    color: var(--dark-gray-clr) !important;
}

button {
    border: none;
    border-radius: 5px;
    background: var(--dark-gray-clr);
    color: var(--white-clr);
    padding: 10px 30px;
    font-size: 1em;
}

.amenities-cl-4:deep() {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    gap: 0.5%;
    margin-top: 2%;
}

.amenities-cl-4:deep(.amenities-cl-2) {
    display: grid;
    grid-template-columns: 80% 20%;
}

.amenities-cl-4:deep(.amenities-cl-2 div) {
    padding-bottom: 14px;
}

.btn-continue button {
    padding-right: 40px;
    padding-left: 40px;
    float: right;
}

.btn-continue {
    width: 80%;
}


/* Contact Details */

.main-contact-content {
    width: 40%;
}

.contact-content {
    color: var(--property-txt-clr)
}

.property-hr {
    border-bottom: 0.1px solid var(--dark-gray-clr);
    margin: 1% 0 4%;
}

.c-code select {
    padding: 7px;
    background-color: var(--dark-gray-clr);
    border: none;
    color: var(--white-clr);
}

.name {
    margin-bottom: 6%;
}

.email {
    margin-bottom: 3%;
}

b {
    color: var(--dark-gray-clr) !important;
}

.name :first-child,
.email :first-child {
    margin-bottom: 5px;
}

.add-contact {
    margin: 10% 0 5%;
}

.c-code input {
    background: #d7dce2;
    border: none;
    padding: 7px 30px;
    padding-left: 1.8rem;
}

button {
    border: none;
    border-radius: 5px;
    background: var(--dark-gray-clr);
    color: var(--white-clr);
    padding: 8px 0;
    font-size: 1em;
}


/* My Profile */

.title-c {
    margin-bottom: 3%;
}

.main-content {
    display: grid;
    grid-template-columns: 40% 55%;
    margin: 2% 1% 5% 10%;
}

.provide-detail strong {
    color: var(--dark-gray-clr) !important;
}

.property-hr[data-v-356cf91e] {
    width: 70%;
    margin-bottom: 5%;
}

.ls-r,
.cart-txt {
    direction: ltr;
}

.name,
.email,
.phone {
    margin-bottom: 10%;
}

#password,
#user-icon {
    color: var(--dark-gray-clr);
    margin-left: -19rem;
    margin-top: 2%;
}

#phone-icon {
    margin-left: -19rem;
}

.btn-save button {
    padding-right: 60px;
    padding-left: 60px;
    float: right;
    margin-top: 5%;
    margin-right: 1.5%;
}

button a {
    color: var(--white-clr);
}

.content-list {
    width: 100%;
}

.scrollable {
    overflow-y: scroll;
    direction: rtl;
    height: 600px;
}

.carts-list {
    display: grid;
    grid-template-columns: auto 40%;
}

.main-contact-content {
    width: 80%;
}

.img-ls img {
    width: 100%;
}

.ls-r {
    margin-right: 1%;
}


/* Update Profile */

.posting {
    position: relative;
    font-size: 1em;
}

.posting :after {
    content: "";
    background: #20B2AA;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 95%;
}

.c-code input {
    padding: 7px 78px;
}

.profile-phone {
    width: 40%;
}

.btn-update-profile button {
    padding-right: 60px;
    padding-left: 60px;
    float: right;
    margin-top: 5%;
    margin-right: 0;
}

.btn-btn-update-profile {
    width: 95%;
}


/* Footer */

#footer {
    min-height: 100%;
    background: hsl(214, 11%, 51%);
}