.container-c {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 2fr auto;
}

a {
    color: #505050;
}

.circle-arrow>div {
    color: var(--property-txt-clr);
}

.active a,
.active {
    color: #20B2AA !important;
}

#head-bg-color {
    background-color: #505050;
}

#main-c {
    padding: 5% 15% 9% 15%;
    margin: auto 5%;
}

.title-c {
    display: grid;
    grid-template-columns: repeat(4, auto);
    border-bottom: 1px solid hsl(212, 9%, 67.3%);
}


/* Category */

.select-category {
    margin: 6% auto auto;
}

.select-category>strong {
    color: var(--property-txt-clr);
}

.list-2-col-category {
    display: grid;
    grid-template-columns: 50% 5%;
}

.list-2-col {
    display: grid;
    grid-template-columns: 70% 5%;
}

.item {
    color: var(--property-txt-clr);
    margin-bottom: 6%;
}

.circle-arrow>div {
    margin-bottom: 35%;
}

.item:last-child {
    margin-bottom: 0;
}

.category-hr {
    border: 0.1px solid var(--property-txt-clr);
    width: 25%;
    margin: 1% 0;
}


/* Location */

.location-list {
    display: grid;
    grid-template-columns: 50% auto;
}

.district-hr {
    border: 0.1px solid var(--property-txt-clr);
    width: 75%;
    margin: 2.5% 0;
}

.popular-areas {
    color: var(--property-txt-clr);
    margin-bottom: 3%;
}

.other-areas {
    margin-top: 3%;
    color: var(--property-txt-clr);
    ;
}

.other-areas select {
    background-color: var(--dark-gray-clr);
    margin-left: -3%;
    color: var(--white-clr);
    padding: 1%;
    border: none;
}

.other-areas input {
    /* width: 86%; */
    background: #d7dce2;
    padding: 1%;
    border: none;
}

.counties-m {
    color: var(--property-txt-clr);
}


/* Footer */

#footer {
    min-height: 100%;
    background: hsl(214, 11%, 51%);
}