.property-hr {
    width: 50%;
    margin: 1% 0 2%;
}

.form-title,
.physical-address,
.description {
    display: grid;
    grid-template-columns: 80%;
    margin-bottom: 2%;
}

.input-fields-property-detail {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    gap: 3%
}

.input-item input,
.form-title input,
.physical-address input,
.description textarea {
    background: #d7dce2;
    padding: 1.5% 3%;
    border: none;
}

.input-item input {
    padding: 3% 1% 3% 6%;
    margin-bottom: 5%;
}

.r-property-input {
    display: grid;
}

.l-property-input div input,
.r-property-input div input {
    width: 73%;
}

.r-property-input .price-input input {
    width: 59%;
}

.l-property-input .size-input input {
    width: 65.5%;
}

.input-item {
    padding: 0;
}

.input-item select {
    background-color: #8a97a5;
    /* margin-left: -1%; */
    color: var(--white-clr);
    padding: 3% 3.5%;
    border: none;
}


/* Upload images */

.images-col-5 {
    display: grid;
    grid-template-columns: repeat(5, 18%);
    gap: 2.5%;
    padding: 1.5% 3%;
    background: #d7dce2;
    width: 74%;
    margin: 3% 0;
}


/* Amenities */

.amenities {
    color: var(--dark-gray-clr) !important;
}

.amenities-cl-4:deep() {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    gap: 0.5%;
    margin-top: 2%;
}

.amenities-cl-4:deep(.amenities-cl-2) {
    display: grid;
    grid-template-columns: 80% 20%;
}

.amenities-cl-4:deep(.amenities-cl-2 div) {
    padding-bottom: 14px;
}

.btn-continue button {
    padding-right: 40px;
    padding-left: 40px;
}

.btn-continue {
    width: 80%;
}