.property-details {
    position: relative;
    font-size: 1em;
}

.property-details:after {
    content: "";
    background: var(--light-teal);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 90%;
}

.select-category1 {
    margin: 2% auto auto;
    color: var(--dark-gray-clr) !important;
    ;
}

.provide-detail {
    margin-top: 2%;
    color: var(--dark-gray-clr) !important;
}

.btn-upload button {
    padding-right: 50px;
    padding-left: 50px;
}

.input-price-mobile,
.product-detail {
    display: none;
}

.float-none {
    float: none;
}

@media (max-width: 575.98px) {
    .input-fields-property-detail,
    .amenities {
        display: none;
    }
    .product-detail {
        display: grid;
        color: var(--green-clr);
        font-weight: bolder;
        margin-bottom: 5%;
    }
    .input-price-mobile {
        display: grid;
    }
    .float-none {
        float: none;
    }
    .description,
    .form-title,
    .physical-address,
    .btn-upload,
    .btn-continue {
        display: grid;
        grid-template-columns: 100%;
    }
    .btn-continue {
        width: 100%;
    }
    .img5 {
        display: none;
    }
    .images-col-5 {
        grid-template-columns: repeat(4, 23%);
        background: var(--bg-color);
        width: 94%;
    }
    #main-c {
        padding-bottom: 0;
    }
}